.form-container{
// display: flex;
    .form{
        display: flex;
        margin-top: 100px;
        // height: 80vh;
        &-sections{
            margin-left: -150px;
            &_title{
                background-color: rgba(244, 244, 244, 1);
                border-radius: 15px ;
                width: 200px;
                margin-bottom: 20px;
                h3{
                    padding-top:8px;
                    padding-bottom: 8px;
                    padding-left: 30px;
                    font-weight: 400;
                }
                .six{
                    display: none;
                }
            }
            .experience{
                display: flex;
                align-items: center;
                width: 240px;
                border-radius: 15px ;
                margin-left: -50px;
                background-color: rgba(16, 53, 87, 1);
                margin-bottom: 20px;
                h3{
                    color: white;
                    padding-left: 55px;
                    padding-top:8px;
                    padding-bottom: 8px;
                    font-weight: 400;
                }
                span{
                    color: white;
                    display: inline-block;
                    padding-left: 15px;
                }
                .six{
                    display: block;
                }
            }
            .no-experience{
                background-color: rgba(244, 244, 244, 1);
                border-radius: 15px ;
                width: 200px;
                margin-left: 0px;
                h3{
                color: black;
                padding-left: 30px;
                border-radius: 15px;
                }
                span{
                    display: none;
                }
            }
        }
        &-contents{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-left: -30px;
            background-color: white;
            padding-left: 50px;
            width: 550px;
            height: 605px;
           &_title{
            padding-top: 20px;
            h2{
                color:rgba(3, 132, 119, 1);
                font-weight: 400;
               }
           }
           &_section-count{
            margin-top: 20px;
            background-color: rgba(3, 132, 119, 1);
            width: 450px;
            margin-right: 50px;
            border-radius: 8px;
            span{
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
           }
           &_questions{
             margin-top: 20px;
             h3{
                font-weight: 400;
             }
           }
           &_answers{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap:20px;
            .yes{
                background-color: #f2f6f6;
                border-radius: 18px ;
                border: 1px solid #e5e7eb;
                width: 150px;
                padding-top: 6px;
                padding-bottom: 6px;
                display: flex;
                padding-left: 50px;
                align-items: center;
                gap:10px;
                cursor: pointer;
            }
            .no{
                background-color: #f2f6f6;
                border-radius: 18px ;
                border: 1px solid #e5e7eb;
                width: 150px;
                padding-top: 6px;
                padding-bottom: 6px;
                display: flex;
                padding-left: 50px;
                align-items: center;
                gap:10px;
                cursor: pointer;
            }
            .checkbox{
                width: 15px;
                height: 15px;
                border: 3px solid #e5e7eb;
                border-radius:15px;
                margin-left: 30px;
            }
            .active{
                background-color: #038477;
            }
           }
           &-yes_questions{
            display: none;
            margin-top: 10px;
            h3{
                font-weight: 400;
                padding-top: 10px;
                font-size: 17px;
            }
            label{
                font-size: 17px;
            }
            input{
                margin-top: 10px;
                width: 450px;
                background-color: rgba(242, 246, 246, 1);
                border:1px solid #e5e7eb;
                padding-left: 10px;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 20px;
                outline: none;
                &:focus{
                    border-color: #d0d2d6;
                }
            }
            &_checkboxs{ 
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap:10px;
                &_left{
                    margin-top: 10px;
                    width: 220px;
                    background-color: #f2f6f6;
                    border:1px solid #ecf0f1;
                    border-radius: 25px;
                    position: relative;
                    .span{
                        display: inline-block;
                       padding-left: 15px;
                       padding-bottom: 8px;
                       padding-top: 8px;
                       color:#b4beca;
                       font-size: 16px;
                       width: 180px;
                    }
                    .choose{
                        display: flex;
                        align-items: center;
                    }
                    .fa-sort-down{
                        color: #038477;
                        font-size: 12px;
                    }
                    .fa-sort-up{
                        color: #038477;
                        font-size: 12px;
                        display: none;
                    }
                    .down{
                        display: none;
                    }
                    .up{
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
            .all-choices{
                display: flex;
            }
            .degree{
                position: absolute;
                right:150px;
            }
            .choices{
                position: absolute;
                background-color: rgba(242, 246, 246, 1);
                width: 210px;
                margin-left: 20px;
                z-index: 9999;
                visibility: hidden;
                z-index: 1;
                height: 150px;
                overflow-y: auto;
                border-radius: 5px;
                .choice{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    z-index: 1;
                    &:hover{
                        background-color:#9ac1be ;
                        cursor: pointer;
                        span{
                            color:#038477;
                        }
                        .circle{
                            display: block;
                            background-color: white;
                        }
                    }
                    span{
                        display: inline-block;
                        margin-left: 12px;
                        font-weight: 400;
                    }
                    .circle{
                        width: 12px;
                        height: 12px;
                        border-radius: 12px;
                        background-color: white;
                        border: 1px solid #e5e7eb;
                        margin-right: 12px;
                        display: none;
                    }
                    .circle-click{
                        background-color:#038477 ;     
                }
                }
            }
            .open{
                visibility: visible;
            }
            .spann{
                color: #038477;
            }
            .yes-questions{
                display: block;
            }
           }
           .dates{
            display: flex;
            align-items: center;
            z-index: -1;
            gap: 10px;
            margin-top: 10px;
            input{
                width: 220px;
            }
           }
           .working{
            display: flex;
            align-items: center;
            h3{
                text-align:end;
                width: 430px;
            }
            input{
                width: 20px;
                margin-right: 10px;
            }
            input[type=checkbox]:hover {
               background-color: rgb(0, 204, 255);
            }
           }
           .save{
            width: 420px;
            .save-button{
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 35px;
                padding-right: 35px;
                background-color: #879aab;
                outline: none;
                color: white;
                border-radius: 20px;
                font-weight: 600;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-left: 140px;
                margin-top: 15px;
                .fa-check{
                    padding-left: 5px;
                }
                &:hover{
                    background-color: #103557;
                    cursor: pointer;
                }
            }
           }
           .look-at-list{
            width:380px;
             .look-list-button{
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: #038477;
                outline: none;
                color: white;
                border-radius: 20px;
                font-weight: 400;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-left: 160px;
                margin-top: 15px;
                &:hover{
                    cursor: pointer;
                }
             }
           }
           &_secondpart{
            margin-top: 50px;
            &-lists{
                .list{
                    width: 450px;
                    border: 1px solid rgba(190, 190, 190, 1);
                    border-radius:24px;
                    padding-left: 25px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top:10px;
                    &-companyName{
                        width: 190px;
                        display: inline-block;
                    }
                    .date{
                        padding-left: 15px;
                        width: 150px;
                        display: inline-block;
                    }
                    .line{
                        height: 50px;
                        width: 1px;
                        display: inline-block;
                        border: 1px solid rgb(238, 231, 231);
                    }
                    .fa-pencil{
                        color:rgb(148, 146, 146);
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    .fa-regular{
                        color:red;
                    }
                }
            }
            .add{
               margin-left: 100px;
               margin-top: 50px;
               background-color: #f2f6f6;
               padding:15px 60px;
               border: none;
               border-radius: 22px;
               font-size: 16px;
            }
           }
        }
        .yes-questions{
            display: block;
        }
        .disable{
            background-color: rgb(185, 183, 183);
            border: 1px solid rgb(185, 183, 183);
            border-color:rgb(185, 183, 183);
            pointer-events: none; /* Kullanıcı etkileşimini devre dışı bırakır */
            opacity: 0.5;
        }
    }
    .form-buttons{
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      button{
        border:1px solid rgba(3, 132, 119, 1);
        padding: 15px 60px;
        border-radius: 25px;
        // border:none;
        &:hover{
            cursor:pointer;
        }
      }
      .back{
        color:rgba(3, 132, 119, 1) ;
        .fa-arrow-left{
          color:rgba(3, 132, 119, 1) ;
          margin-right: 10px;
        }
      }
      .next{
        color:white;
        background-color: rgba(3, 132, 119, 1);
      }
    }
   
}
.alert{
    width: 350px;
    background-color: white;
    border-radius: 20px;
    height: 170px;
    position: absolute;
    top: 250px;
    left: 550px;
    position: fixed;
    z-index: 99999;
   h4{
    font-weight: 400;
    position: absolute;
    top: 50px;
    left: 20px;
   }
   .fa-solid{
    color: rgb(175, 172, 172);
    position: absolute;
    right: 15px;
    top: 20px;
   }
   &-btns{
    position: absolute;
    top: 100px;
    left: 50px;
    &_yes{
        padding: 10px 50px;
        background-color: #038477;
        border: none;
        border-radius: 25px;
        color: white;
        font-weight: 500;
        cursor: pointer;
        margin-right: 10px;
    }
    &_no{
        padding: 10px 40px;
        background-color: white;
        border: none;
        border-radius: 25px;
        color: black;
        font-weight: 500;
        cursor: pointer;
    }
   }
   .has-error{
    border:1px solid red;
   }
}
.has-error{
    border:1px solid red;
   }
//   .body-disable{
//     background-color: gray;
//   }